$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  10: $spacer * 8.5
);


* {
  font-family: "Open Sans", sans-serif;
}


body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: #666;
}


h1, .h1 {
  text-align: center;
  font-family: open sans;
  color: rgb(42, 127, 195);
}

h4, .h4 {
  color: rgb(0, 74, 152);
  font-family: open sans;
  text-align: left;
}

h5, .h5 {
  font-family: open sans;
  color : #666;
}

#colorTexto{
  color: #666;
}

#directorioprofes{
  color: rgb(0, 74, 152);
}

#enlacetramites a{
  color:rgb(0, 74, 152);
  text-decoration: none;
}

#becasEnlace a{
  color: rgb(0, 178, 227);
  text-decoration: none;
}

#enlacesProfEvaluacion{
  text-decoration: none;
  color: black;
}

p {
  margin: 0 0 1.5em 0;
}

img {
  max-width: 100%;
  height: auto;
}

#contenido {
  font-family: open sans light;
  font-size: 20px;
  color: rgb(77, 77, 77);
}

#main-header {
  background: rgb(0, 74, 152);
  color: white;
}

#main-header a {
  color: white;
}

.fondoFooter {
  height: 17px;
  background-color: #00B2E3;
  padding: auto;
}

#fondoCards{
  background-color: tomato;
}


.barraAzulFuerte{
  height: 10px;
  background-color: rgb(0,74,152);
  padding: auto;
}

.barraAzulFuerteS{
  height: 5px;
  background-color: rgb(0,74,152);
  padding: auto;
}


.imageFooter2 {
  height: 10px;
  background-color: rgb(0, 74, 152);
  padding: auto;
}

.navbartotal {
  font-family: open sans;
}

.navbartotal .nav-item {
  color: rgb(0, 74, 152);
}

.navbartotal a {
  color: rgb(0, 74, 152);
}

.navbartotal a:hover {
  color: white;
  background-color: rgb(0, 74, 152);
}

#logo-header {
  float: left;
  padding: 15px 0 0 20px;
  text-decoration: none;
}

#logo-header:hover {
  color: #f8f8f8;
}

#logo-header .site-name {
  display: block;
  font-weight: 700;
}

#logo-header .site-desc {
  display: block;
  color: #999;
}

#main-footer {
  background: rgb(0, 74, 152);
  color: white;
  text-align: center;
  padding: 5px;
  margin-top: 0px;
  font-family: open sans light;
}

.izquierda {
  text-align: left;
  margin-left: 20%;
}

.izquierda a{
  color: #f8f8f8;
}

.derecha a{
  color: #f8f8f8;
}

a {
  color: white;
}

a:hover {
  color: white;
}

.texto0 {
  text-align: justify;
  padding: 20px;
}

.enlacesprof a {
  color: rgb(0, 178, 227);
  text-decoration: none;
  margin-left: 3%;
}

.perfil-container {
  margin: 20px 200px;
}


#accordionExample {
  font-family: open sans;
}

#accordionExample a{
  color: rgb(0, 178, 227);
  text-decoration: none;
}

#accordionExample .accordion-button {
  color: rgb(0, 74, 152);
}

.accordion-item {
  border-left: 0 !important;
  border-right: 0 !important;
}

#enlacesNormativa a{
  color: rgb(0, 74, 152);
    text-decoration: none;
}

#enlacesNormativa a:hover{
  color: rgb(0, 74, 152);
  text-decoration: none;
}

#colorCard{
  background-color: rgb(231, 236, 240);
  text-align: center;
  color:rgb(0, 74, 152);
  font-size: 110%;
  font-family: open sans bold;
}

#h2info{
  color:rgb(0, 74, 152);
  font-size: 120%;
}

#rowInicio{
  align-content: center;
  text-align: center;
  color:rgb(0, 74, 152);
  font-size: 110%;
  font-family: open sans bold;
}

#videoInicio{
  color:rgb(0, 74, 152);
  text-align: left;
}
#bienvenida{
  color: white;
  font-size: 25px;
}

#videoInicio p{
  font-size: 128%;
  font-family: open sans bold;
  text-align: left;
}

#videoInicio span{
  font-size: 100%;
}

#botonesGeneral {
  background-color: rgb(42, 127, 195);
  border: 0;
}

#titulosCyan{
  color: cyan;
  text-decoration: none;
}

.nav-item{
  content: none;
}

#nameProf{
  color: rgb(0, 178, 227);
}

#tablaTitulos{
  color:rgb(0, 74, 152);
  margin: 0;
  padding: 0;
}

#accordionTextM{
  margin-left: 10%;
  margin-left: 10%;
}

#content_div_one_photo {
  height: 400px;
  padding: auto;
}

#padre {
  position: relative;    /* para poder posicionar el texto de forma absoluta */
  display: inline-block; /* para que solo ocupe el ancho de la imagen */
}

.cardtitle {
  position: absolute;    /* posición absolute con respecto al padre */
  bottom: 0;             /* posicionada en la esquina inferior derecha */
  // right: 1rem;
  color: white;
  font-size: 25px;
}

#contTabla{
  text-align: center;
}

#contTablaIzq{
  text-align: justify;
}

#contTablaLeft{
  text-align: left;
}

.vineta {
  list-style: none; /* Remove default bullets */
  padding-left: 1.8rem;
  text-align: justify;
}

.vineta li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1.8em; /* Also needed for space (tweak if needed) */
}

.size{
  width: 300px;
}

@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');