$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  10: $spacer * 8.5
);


* {
  font-family: "Open Sans", sans-serif;
}


body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: #666;
}

h1, .h1 {
  text-align: center;
  font-family: open sans;
  color: rgb(42, 127, 195);
}

h4, .h4 {
  color: rgb(0, 74, 152);
  font-family: open sans;
  text-align: left;
}

h5, .h5 {
  font-family: open sans;
  color : #666;
}

#colorTexto{
  color: #666;
}

#directorioprofes{
  color: rgb(0, 74, 152);
}

#enlacetramites a{
  color:rgb(0, 74, 152);
  text-decoration: none;
}

#becasEnlace a{
  color: rgb(0, 178, 227);
  text-decoration: none;
}

#enlacesProfEvaluacion{
  text-decoration: none;
  color: black;
}

p {
  margin: 0 0 1.5em 0;
}

img {
  max-width: 100%;
  height: auto;
}

#contenido {
  font-family: open sans light;
  font-size: 20px;
  color: rgb(77, 77, 77);
}

#main-header {
  background: rgb(0, 74, 152);
  color: white;
}

#main-header a {
  color: white;
}

.header-title{
  font-size: 50px !important;
  text-decoration: none !important;
}

.fondoFooter {
  height: 17px;
  background-color: #00B2E3;
  padding: auto;
}

#fondoCards{
  background-color: tomato;
}


.barraAzulFuerte{
  height: 10px;
  background-color: rgb(0,74,152);
  padding: auto;
}

.barraAzulFuerteS{
  height: 5px;
  background-color: rgb(0,74,152);
  padding: auto;
}


.imageFooter2 {
  height: 10px;
  background-color: rgb(0, 74, 152);
  padding: auto;
}

.navbartotal {
  font-family: open sans;
}

.navbartotal .nav-item {
  color: rgb(0, 74, 152);
}

.navbartotal a {
  color: rgb(0, 74, 152);
}

.navbartotal a:hover {
  color: white;
  background-color: rgb(0, 74, 152);
}

.img-header{

}

.header-title{
  font-size: 50px;
}

#main-footer {
  background: rgb(0, 74, 152);
  color: white;
  text-align: center;
  padding: 5px;
  margin-top: 0px;
  font-family: open sans light;
}

.izquierda {
  text-align: left;
  margin-left: 20%;
}

.izquierda a{
  color: #f8f8f8;
}

.derecha a{
  color: #f8f8f8;
}

a {
  color: white;
}

a:hover {
  color: white;
}

.texto0 {
  text-align: justify;
  padding: 20px;
}

.enlacesprof a {
  color: rgb(0, 178, 227);
  text-decoration: none;
  margin-left: 3%;
}

.perfil-container {
  margin: 20px 200px;
}


#accordionExample {
  font-family: open sans;
}

#accordionExample a{
  color: rgb(0, 178, 227);
  text-decoration: none;
}

#accordionExample .accordion-button {
  color: rgb(0, 74, 152);
}

.accordion-item {
  border-left: 0 !important;
  border-right: 0 !important;
}

#enlacesNormativa a{
  color: rgb(0, 74, 152);
    text-decoration: none;
}

#enlacesNormativa a:hover{
  color: rgb(0, 74, 152);
  text-decoration: none;
}

#colorCard{
  background-color: rgb(231, 236, 240);
  text-align: center;
  color:rgb(0, 74, 152);
  font-size: 110%;
  font-family: open sans bold;
}

#h2info{
  color:rgb(0, 74, 152);
  font-size: 120%;
}

#rowInicio{
  align-content: center;
  text-align: center;
  color:rgb(0, 74, 152);
  font-size: 110%;
  font-family: open sans bold;
}

#videoInicio{
  color:rgb(0, 74, 152);
  text-align: left;
}
#bienvenida{
  color: white;
  font-size: 25px;
}

#videoInicio p{
  font-size: 128%;
  font-family: open sans bold;
  text-align: left;
}

#videoInicio span{
  font-size: 100%;
}

#botonesGeneral {
  background-color: rgb(42, 127, 195);
  border: 0;
}

#titulosCyan{
  color: rgb(0, 178, 227);
  text-decoration: none;
}

.nav-item{
  content: none;
}

#nameProf{
  color: rgb(0, 178, 227);
}

#tablaTitulos{
  color:rgb(0, 74, 152);
  margin: 0;
  padding: 0;
}

#accordionTextM{
  margin-left: 10%;
  margin-left: 10%;
}

#content_div_one_photo {
  height: 400px;
  padding: auto;
}

#padre {
  position: relative;    /* para poder posicionar el texto de forma absoluta */
  display: inline-block; /* para que solo ocupe el ancho de la imagen */
}

.cardtitle {
  position: absolute;    /* posición absolute con respecto al padre */
  bottom: 0;             /* posicionada en la esquina inferior derecha */
  // right: 1rem;
  color: white;
  font-size: 25px;
}

#contTabla{
  text-align: center;
}

#contTablaIzq{
  text-align: justify;
}

#contTablaLeft{
  text-align: left;
}

.vineta {
  list-style: none; /* Remove default bullets */
  padding-left: 1.8rem;
  text-align: justify;
}

.vineta li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1.8em; /* Also needed for space (tweak if needed) */
}

.size{
  width: 300px;
}

#imgcenter{
  align-items: center;
  justify-content: center;
}

.accordion-body
{
  color: #666;
  text-align: justify;
}

body {
  min-height: 100%;
  background-color: tomato;
}



.contenedor {
  max-width: 1142px;
  width: 100%;
  margin: 0 auto; 
}


#enlacesCursos a{
  text-decoration: none;
  color: #666;
}

.modal-header{
  background-color: rgb(0, 74, 152);;
}

.modal-title{
  color: white;
  font-size: 19px;
  text-align: center;
}

@media screen and (min-width:768px) {
    .cabezal_movil{
        display: none;
    }
   .navegacion ul{
        flex-grow: 1;
    }
    .logo{
    position: absolute;
    z-index: 999;
    top: 6%;
    width: 50%;
    }
    .contenido{
    display: flex;
    margin-top: 0.95rem;
    margin-bottom: 4rem;
    }
    .footer_movil{
        display: none;
    }
}

.contenido{
    display: flex;
    margin-top: 0.95rem;
    margin-bottom: 4rem;
    flex-direction: column;
}

.contenido-principal {
    width: 100%;
     margin:0 auto;
    background: transparent;
     margin: 1rem 0 1rem 1rem;
     padding: 1.5rem;
     line-height: 1.3;
}


table.width200,table.rwd_auto {border:1px solid black;width:100%;margin:0 0 50px 0}
.width200 th,.rwd_auto th {background:transparent;padding:5px;text-align:center;}
.width200 td,.rwd_auto td {border-bottom:1px solid black;padding:5px;text-align:center}
.width200 tr:last-child td, .rwd_auto tr:last-child td{border:0}

.rwd {width:100%;overflow:auto;}
.rwd table.rwd_auto {width:auto;min-width:100%}
    .rwd_auto th,.rwd_auto td {white-space: nowrap;}
    
@media only screen and (max-width: 760px), (min-width: 768px) and (max-width: 1024px)  
{

table.width200, .width200 thead, .width200 tbody, .width200 th, .width200 td, .width200 tr { display: block; }

.width200 thead tr { position: absolute;top: -9999px;left: -9999px; }

.width200 tr { border: 1px solid black; }

.width200 td { border: none;border-bottom: 1px solid black; position: relative;padding-left: 50%;text-align:left }

.width200 td:before {  position: absolute; top: 6px; left: 6px; width: 45%; padding-right: 10px; white-space: nowrap;}

.width200 td:nth-of-type(1):before { content: "Generación"; font-weight: bold;  color:rgb(0, 74, 152); }
.width200 td:nth-of-type(2):before { content: "Ingresos"; font-weight: bold;  color:rgb(0, 74, 152);}
.width200 td:nth-of-type(3):before { content: "Graduados";font-weight: bold;  color:rgb(0, 74, 152);}
.width200 td:nth-of-type(4):before { content: "% G/I"; font-weight: bold;  color:rgb(0, 74, 152);}

.descarto {display:none;}
.fontsize {font-size:10px}
}

table.width201,table.rwd_auto {border:1px solid black;width:100%;margin:0 0 50px 0}
.width201 th,.rwd_auto th {background:transparent;padding:5px;text-align:center;}
.width201 td,.rwd_auto td {border-bottom:1px solid black;padding:5px;text-align:center}
.width201 tr:last-child td, .rwd_auto tr:last-child td{border:0}

.rwd {width:100%;overflow:auto;}
.rwd table.rwd_auto {width:auto;min-width:100%}
    .rwd_auto th,.rwd_auto td {white-space: nowrap;}
    
@media only screen and (max-width: 760px), (min-width: 768px) and (max-width: 1024px)  
{

table.width201, .width201 thead, .width201 tbody, .width201 th, .width201 td, .width201 tr { display: block; }

.width201 thead tr { position: absolute;top: -9999px;left: -9999px; }

.width201 tr { border: 1px solid black; }

.width201 td { border: none;border-bottom: 1px solid black; position: relative;padding-left: 50%;text-align:left }

.width201 td:before {  position: absolute; top: 6px; left: 6px; width: 45%; padding-right: 10px; white-space: nowrap;}

.width201 td:nth-of-type(1):before { content: "Año"; font-weight: bold;  color:rgb(0, 74, 152); }
.width201 td:nth-of-type(2):before { content: "N. del alumno"; font-weight: bold;  color:rgb(0, 74, 152);}
.width201 td:nth-of-type(3):before { content: "Título de tesis";font-weight: bold;  color:rgb(0, 74, 152);}
.width201 td:nth-of-type(4):before { content: "Director de tesis"; font-weight: bold;  color:rgb(0, 74, 152);}

.descarto {display:none;}
.fontsize {font-size:10px}
}


table.width202,table.rwd_auto {border:1px solid black;width:100%;margin:0 0 50px 0}
.width202 th,.rwd_auto th {background:transparent;padding:5px;text-align:center;}
.width202 td,.rwd_auto td {border-bottom:1px solid black;padding:5px;text-align:center}
.width202 tr:last-child td, .rwd_auto tr:last-child td{border:0}

.rwd {width:100%;overflow:auto;}
.rwd table.rwd_auto {width:auto;min-width:100%}
    .rwd_auto th,.rwd_auto td {white-space: nowrap;}
    
@media only screen and (max-width: 760px), (min-width: 768px) and (max-width: 1024px)  
{

table.width202, .width202 thead, .width202 tbody, .width202 th, .width202 td, .width202 tr { display: block; }

.width202 thead tr { position: absolute;top: -9999px;left: -9999px; }

.width202 tr { border: 1px solid black; }

.width202 td { border: none;border-bottom: 1px solid black; position: relative;padding-left: 50%;text-align:left }

.width202 td:before {  position: absolute; top: 6px; left: 6px; width: 45%; padding-right: 10px; white-space: nowrap;}

.width202 td:nth-of-type(1):before { content: "Año"; font-weight: bold;  color:rgb(0, 74, 152); }
.width202 td:nth-of-type(2):before { content: "Semestre"; font-weight: bold;  color:rgb(0, 74, 152);}
.width202 td:nth-of-type(3):before { content: "Descargas";font-weight: bold;  color:rgb(0, 74, 152);}

.descarto {display:none;}
.fontsize {font-size:10px}
}

@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');